@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.1rem;
    opacity: 0.8;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #96c3e6;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
}

main p {
    font-size: 1.1rem;
    line-height: 1.5;
}

li{
    margin: 1%;
}

img{
    width: 50vw;
    height: 60vh;
    margin: 3%;
    
}
.logo{
    width: 20vw;
    height: 20vh;
}

.circulo{
    width: 30vw;
    height: 50vh;
    text-align: center;
}
.circulocrm{
    text-align: center;

}
span{
    color: #0078d4;
}

.como-funciona{
   text-align: center;
  
}

.introducao{
    text-align: center;
    margin: 3%;
}

.frase-destaque{
    color: #0078d4;
    margin: 3%;
    font-size: 1.3em;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f7f7f7;
    font-size: 0.9rem;
    opacity: 0.8;
}


@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }
}
